@import "tailwindcss";

/* index.css */
.leaflet-container {
  height: 100%;
  width: 100%;
  z-index: 0;
}

.slider-thumb::-webkit-slider-thumb {
  appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #3B82F6;
  cursor: pointer;
  border: 2px solid #ffffff;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

.slider-thumb::-moz-range-thumb {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #3B82F6;
  cursor: pointer;
  border: 2px solid #ffffff;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

.slider-thumb::-webkit-slider-track {
  height: 8px;
  background: #E5E7EB;
  border-radius: 4px;
}

.slider-thumb::-moz-range-track {
  height: 8px;
  background: #E5E7EB;
  border-radius: 4px;
  border: none;
}
